{% load static %}
<!doctype html>
<head>
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    <link rel="stylesheet" href="{% static 'euros-uikit.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'uikit/js/uikit.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.js'%}"></script>
    {% block extra_head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include 'navbar.html' %}
{% block fullwidth-content %}
<section class="content uk-container uk-container-large">
    <header>
        <div>
            {% block header %}{% endblock %}
        </div>
    </header>
{#    <div style="min-height: 70vh">#}
        {% block content %}{% endblock %}
{#    </div>#}
</section>
{% endblock fullwidth-content %}
<footer class="uk-section-muted uk-margin-top uk-padding-large uk-padding-remove-top">
    <div class="uk-text-center uk-padding-large">
        Copyright © {% now 'Y' %} Martijn Verkleij{% if g.user %} |
        <a class="uk-link-muted" href="{% url 'logout' %}">Log Out</a> |
        <a class="uk-link-muted" href="{% url 'register' %}">Register new user</a>{% else %} |
        <a class="uk-link-muted" href="{% url 'admin:login' %}">Log In</a>{% endif %}
    </div>
</footer>
<script>
    {% if messages %}
        UIkit.modal.alert('{% for message in messages %}<p>{{ message }}</p>{% endfor %}')
    {% endif %}
</script>
{% block js %}{% endblock %}
</body>