{% block navbar_nav %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'weather:location_list' %}">Observations</a></li>
    <li>
        <a href="{% url 'weather:forecast_list' %}">Forecasts</a>
{#        <div class="uk-navbar-dropdown">#}
{#            <ul class="uk-nav uk-navbar-dropdown-nav">#}
{#                <li><a href="{% url 'weather:location_list' %}">Weer</a></li>#}
{#                <li class="uk-nav-divider"></li>#}
{#                <li><a href="{% url 'weather:location_list' %}">Weer</a></li>#}
{#            </ul>#}
{#        </div>#}
    </li>
{#    <li><a href="{% url 'weather:location_list' %}">Foto's</a></li>#}
{#    <li><a href="{% url 'weather:location_list' %}">Agenda</a></li>#}
{#    <li><a href="{% url 'weather:location_list' %}">Euroswiki <span uk-icon="icon: link"></span></a></li>#}
{#    <li><a href="{% url 'weather:location_list' %}">GRIB <span uk-icon="icon: link"></span></a></li>#}
{#    <li><a href="{% url 'weather:location_list' %}">Account</a></li>#}
{% endblock %}