{% load static %}
{% block navbar %}
<nav>
<div class="uk-flex uk-flex-center uk-inline logo">
    <span class="uk-visible@s">THE</span>
    <a href="/" class="uk-padding-small"><img src="{% static 'images/logo.svg' %}" title="Site Logo" width="200px" height="100px"></a>
    <span class="uk-visible@s">WEATHER</span>
</div>

<div class="uk-flex uk-flex-between uk-flex-middle uk-hidden@m uk-section-primary">
    <a href="#" class="uk-padding-small" uk-toggle="target: #sidenav"><span class="uk-button uk-button-small uk-button-secondary uk-flex uk-flex-middle"><span class="uk-margin-small-right" uk-icon="icon: menu;"></span>Menu</span></a>
    <a href="#" class="uk-padding-small language-picker"><img src="{% static 'images/uk-flag.svg' %}" title="English" height="20px"> </a>
    <a href="{% url 'admin:login' %}" class="uk-padding-small"><span class="uk-button uk-button-small uk-button-secondary uk-flex uk-flex-middle">Login<span class="uk-margin-small-left" uk-icon="icon: sign-in;"></span></span></a>
</div>

<nav class="uk-navbar-container uk-visible@m" uk-navbar>
    <div class="uk-navbar-left">
        <a href="#" class="uk-padding-small language-picker"><img src="{% static 'images/uk-flag.svg' %}" title="English" height="20px"> </a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
        {% include 'navbar-content.html' %}
        </ul>
    </div>
    <div class="uk-navbar-right">
        <a href="{% url 'admin:login' %}" class="uk-padding-small uk-link-reset"><span class="uk-button uk-button-small uk-button-primary uk-flex uk-flex-middle">Login<span class="uk-margin-small-left" uk-icon="icon: sign-in;"></span></span></a>
    </div>
</nav>

<div id="sidenav" uk-offcanvas="overlay: true; mode: push" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
        {% include 'navbar-content.html' %}
    </ul>
  </div>
</div>
<nav>
{% endblock navbar %}