.logo > a > img {height: 100%}
.logo > span {
    color: #9c1921;
    font-family: Arial;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    margin: auto 0.75em;
}

.language-picker > img {
    height: 20px !important;
}