{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="uk-container uk-container-xsmall uk-padding">

        <h1 class="uk-text-center">Weather Forecasts</h1>
        <ul class="uk-list uk-list-large uk-list-striped">
            {% for location in object_list|dictsort:'name' %}
                <li><a href="{% url 'weather:forecast' location.station_id %}">{{ location.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}

{% endblock %}