{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="uk-container uk-container-xsmall">
        <a href="{% url 'weather:location_list' %}"><h1>Observations (weather stations)</h1></a>
        <a href="{% url 'weather:forecast_list' %}"><h1>Forecast (same weather stations, using Harmonie)</h1></a>
    </div>
{% endblock %}
