{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/luxon.min.js' %}"></script>
    <script src="{% static 'js/chartjs-adapter-luxon.min.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-colorschemes.min.js' %}"></script>
{% endblock %}

{% block fullwidth-content %}
    <div class="uk-container uk-container-xlarge uk-padding">
        <div uk-grid>
            <div class="uk-width-1-4@m">
                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                    <h1 class="uk-card-title">
                        {{ object.name }}
                    </h1>
                    <b>Location:</b>
                    <p>{{ object.location.x }}<br>{{ object.location.y }}</p>
                    <b>Description:</b>
                    <p>{{ object.description | linebreaks }}</p>

                </div>
            </div>
            <div class="uk-width-3-4@m">
                <ul class="uk-breadcrumb">
                    <li><a href="{% url 'weather:index' %}">Weather</a></li>
                    <li><a href="{% url 'weather:location_list' %}">Locations</a></li>
                    <li><a href="{% url 'weather:location' object.station_id %}">{{ location.name }}</a></li>
                </ul>
                <div class="uk-position-relative uk-height-medium">
                    <canvas id="temperature-chart" class="uk-inline"></canvas>
                </div>

                <div class="uk-position-relative uk-height-medium">
                    <canvas id="wind-chart" class="uk-inline"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-overflow-auto">
        <table id="observations"
               class="uk-table uk-table-divider uk-table-small uk-table-middle">
            <thead>
            <tr id="observations_days">
                <th></th>
            </tr>
            <tr id="observations_times">
                <th></th>
            </tr>
            </thead>
            <tbody id="observations_data">
            <tr id="observations_ta">
                <th>Temperature (C)</th>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>

        let temperature_chart = null;


        $.ajax({
            type: 'GET',
            url: '{% url 'GribWeatherService:get_observations_by_station' object.station_id %}',
        }).then(function (msg) {
            console.log(msg)

            let day_ctr = 0
            let last_day = new Date(msg.data[0].dt * 1000)

            let observations_times = $('#observations_times')
            let observations_ta = $('#observations_ta')
            let observations_days = $('#observations_days')

            let last_data_point = msg.data[msg.data.length - 1]


            let date = new Date(last_data_point.dt * 1000)

            let difference = Math.floor((new Date() - date) / 1000 / 60)
            let td_open_class = ''
            let difference_string = ''
            td_open_class = 'uk-text-bold uk-alert-success uk-width-small'
            difference_string = '<br>(' + difference + ' minutes ago)'

            observations_days.append('<th colspan="' + day_ctr + '">' + last_day.toLocaleDateString() + '</th>')


            observations_times.append('<th class="' + td_open_class + '">' + date.toLocaleTimeString('nl', {
                hour: '2-digit',
                minute: '2-digit'
            }) + difference_string + '</th>')
            observations_ta.append('<td class="' + td_open_class + '">' + last_data_point.ta + '</td>')

            // Update charts
            msg.data.forEach(function (timestep,) {
                timestep['dt'] = timestep['dt'] * 1000

            })

            let colors = Chart.colorschemes['brewer'].SetThree12

            // Update temperature chart after all data points are added
            temperature_chart = new Chart($('#temperature-chart'), {
                type: 'line',
                data: {
                    datasets: [{
                        label: msg.description['ta'],
                        yAxisID: 'yta',
                        data: msg.data,
                        parsing: {
                            xAxisKey: 'dt',
                            yAxisKey: 'ta',
                        },
                        {#backgroundColor: '#fbb4ae',#}
                        {#borderColor: '#fbb4ae',#}
                        radius: 0,
                        hoverRadius: 3,
                    }, {
                        label: msg.description['pp'],
                        yAxisID: 'ypp',
                        data: msg.data,
                        parsing: {
                            xAxisKey: 'dt',
                            yAxisKey: 'pp',
                        },
                        {#backgroundColor: '#b3cde3',#}
                        {#borderColor: '#b3cde3',#}
                        radius: 0,
                        hoverRadius: 3,
                    }
                    ]
                },
                defaults: {
                },
                options: {


                    plugins: {
                        colorschemes: {
                            scheme: 'brewer.SetOne3'
                        }
                    },
                    {#events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],#}
                    interaction: {
                        mode: 'index',
                        intersect: false,
                     },
                    scales: {
                        xAxis: {
                            type: 'time',
                            time: {
                                tooltipFormat: 'D TT'
                            },
                            {#ticks: {#}
                            {#    callback: function(val, index, arr) {#}
                            {#        let time_str = val.split(':')[0] + ":" + val.split(':')[1]#}
                            {#        let offset = null#}
                            {#        console.log(val)#}
                            {#        if (time_str.includes(':00')) {#}
                            {#            offset = Math.floor(parseInt(time_str.split(':')[0]))#}
                            {##}
                            {#            console.log(offset)#}
                            {#            if ((index + offset) % 4 === 0) {#}
                            {#                return time_str#}
                            {#            }#}
                            {#        } else return null#}
                            {#    }#}
                            {# }#}

                        },
                        yta: {
                            position: 'left',
                            ticks: {
                                color: Chart.colorschemes.brewer.SetOne3[0]
                            },
                            max: 40,
                            min: -10
                        },
                        ypp: {
                            position: 'left',
                            ticks: {
                                color: Chart.colorschemes.brewer.SetOne3[1]
                            },
                            beginAtZero: false,
                            max: 1040,
                            min: 940,
                            grid: {
                                drawOnChartArea: false
                            }
                        }
                    },
                    animation: false,
                    // Make chart resizable
                    responsive: true,
                    maintainAspectRatio: false,
                }
            })

            console.log(temperature_chart)
        // Update wind chart after all data points are added
            wind_chart = new Chart($('#wind-chart'), {
                type: 'line',
                data: {
                    datasets: [{
                        label: msg.description['ff'],
                        yAxisID: 'yff',
                        data: msg.data,
                        parsing: {
                            xAxisKey: 'dt',
                            yAxisKey: 'ff',
                        },
                        {#backgroundColor: '#fbb4ae',#}
                        {#borderColor: '#fbb4ae',#}
                        radius: 0,
                        hoverRadius: 3,
                    }, {
                        label: msg.description['gff'],
                        yAxisID: 'yff',
                        data: msg.data,
                        parsing: {
                            xAxisKey: 'dt',
                            yAxisKey: 'gff',
                        },
                        {#backgroundColor: '#b3cde3',#}
                        {#borderColor: '#b3cde3',#}
                        radius: 0,
                        hoverRadius: 3,
                    }
                    ]
                },
                defaults: {
                },
                options: {


                    plugins: {
                        colorschemes: {
                            scheme: 'brewer.SetOne3'
                        }
                    },
                    {#events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],#}
                    interaction: {
                        mode: 'index',
                        intersect: false,
                     },
                    scales: {
                        xAxis: {
                            type: 'time',
                            time: {
                                tooltipFormat: 'D TT'
                            },
                            {#ticks: {#}
                            {#    callback: function(val, index, arr) {#}
                            {#        let time_str = val.split(':')[0] + ":" + val.split(':')[1]#}
                            {#        let offset = null#}
                            {#        console.log(val)#}
                            {#        if (time_str.includes(':00')) {#}
                            {#            offset = Math.floor(parseInt(time_str.split(':')[0]))#}
                            {##}
                            {#            console.log(offset)#}
                            {#            if ((index + offset) % 4 === 0) {#}
                            {#                return time_str#}
                            {#            }#}
                            {#        } else return null#}
                            {#    }#}
                            {# }#}

                        },
                        yff: {
                            position: 'left',
                            ticks: {
                                color: Chart.colorschemes.brewer.SetOne3[0]
                            },
                            {#max: 40,#}
                            {#min: -10#}
                        },
                    },
                    animation: false,
                    // Make chart resizable
                    responsive: true,
                    maintainAspectRatio: false,
                }
            })

            console.log(temperature_chart)

        })


    </script>
{% endblock %}