// global color adjustments
$global-primary-background: #9c1921 !default;


// Navbar stuff (also see mixins)
$global-color: #666;
$navbar-nav-item-color: $global-color !default;
$navbar-nav-item-hover-color: darken($global-color, 10%) !default;
$navbar-nav-item-height: 60px !default;
$navbar-background: #fff !default;
$navbar-dropdown-background: #fff !default;
